<div id="mobile-nav" class="ui bottom fixed four item icon menu">
  <a href="/view#/home" class="mobile-item ui item"><i class="home icon"></i></a>
  <a href="/notes/new" class="mobile-item ui item"><i class="edit icon"></i></a>
  <a href="/view#/pinned" class="mobile-item ui item"><i class="pin icon"></i></a>
  <a href="/view#/public" class="mobile-item ui item"><i class="comments icon"></i></a>
</div>
<script type="text/javascript" src"/scripts/script.js"></script>
</body>
</html>