<!DOCTYPE html>
<html>
<head>
  <title>Relative Society</title>
  <!--Semantic UI Link-->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"></link>
  <!--Custom Styles Link-->
  <link rel="stylesheet" type="text/css" href="/styles/style.css"></link>
  <!--jQuery Link-->
</head>
<body>