<div class="ui three column grid">
  <!--Vertical Menu Bar-->
  <div class="left floated four wide column">
  <nav-menu></nav-menu>
  <threads></threads>
  </div>
  <div class="twelve wide column">
  <!--Search-->
    <div class="search-bar">
    <form class="ui right floated form" action="" method="">
      <div class="inline fields">
         <div class="ui inline field">
        <input ng-model="publicData.query" class="ui input" type="text"></input>
      </div>
      <button class="ui blue button">Search</button>
      </div>
    </form>
    </div>
    <h2 class="ui center aligned header">{{publicData.thread}}</h2>
    <div class="ui secondary center aligned segment"><a href="/notes/new/{{publicData.thread}}">Add your own note to this family thread!<i class="add circle icon"></i></a></div>
    <div ng-repeat="item in publicData.publicNotes | filter:item.thread == publicData.thread | orderBy: 'date':true" class="ui raised segment">
      <h4 class="header">{{ item.kind }} from {{ item.author.username }}.</h4>
      <p>{{ item.content }}</p>
        <span am-time-ago="item.date"></span>
        <div style="position: relative; width: 161px; left: 650px; overflow: visible;" class="pull-right">
        <div style="width: 102px;">
        <div style="float: left;" ng-mouseover="item.menu = true" ng-mouseleave="item.menu = false" ng-class="item.pinned ? 'blue' : ''" class="pin-button ui small vertical animated button" tabindex="0">
          <div class="hidden content">Pin</div>
          <div class="visible content">
            <i class="pin icon"></i>
          </div>
        </div>
          <div ng-show="item.menu"  ng-mouseover="item.menu = true" ng-mouseleave="item.menustay == false ? item.menu = false : ''" class="ui raised compact segments" style="min-width: 150px; height: 200px; overflow: auto; position:absolute; left: 29px; top: 18px; transform: translateX(-50%); z-index: 100;">
            <div ng-repeat="group in publicData.groups"  ng-click="publicData.pin(item, group.groupName)" ng-class="group.groupName == item.group ? 'jdblue' : ''" class="ui center aligned segment">
              <p>{{group.groupName}}</p>
            </div>
            <div class="ui center aligned form segment">
              <div class="field">
                <label>New Group</label>
                <input ng-model="publicData.newGroup" type="text" ng-focus="item.menustay = true" ng-blur="item.menustay = false; item.menu = false" ng-keydown="$event.keyCode == 13 && publicData.pin(item, publicData.newGroup)">
              </div>
            </div>
          </div>
        </div>
        <div class="ui labeled button" tabindex="0" style="margin-left: 10px">
        <a ng-click="publicData.like(item._id)" ng-class="[item.liked ? 'red' : 'unliked']" class="ui mini button"><i class="heart icon"></i></a>
        <a ng-class="{red: item.liked}" class="ui basic left pointing label">{{ item.likes.total }}</a>
        </div>
      </div>
    </div>
  </div>
</div>