<% include ./partials/headernonav %>

<div class="ui container">
  <h1 class="ui huge center aligned header">Welcome to KinFeed!</h1>
  <div class="ui grid">
    <div class="ui row">
      <div class="ui six wide centered center aligned column">
        <a class="ui big button" href="/register">Sign Up</a>
        <a class="ui big button" href="/login">Login</a>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>