<% include ./partials/header %>

<div class="ui container">
  <div class="ui three column grid">
    <div class="ui row">
   <!--Vertical Menu Bar-->
      <div class="four wide column">
        <div class="ui secondary vertical pointing menu">
          <a class="item" href="/view#/home">Home</a>
          <a class="active item" href="/notes/new">Leave a Note</a>
          <a class="item" href="/view#/pinned">Pinned Notes</a>
          <a class="item" href="/view#/public">Public Notes</a>
        </div>
      </div>
  <!--Form-->
    <div class="sixteen wide mobile eight wide computer eight wide tablet column" style="margin-left: 15px;">
      <h1 class="ui huge header">Change your profile picture.</h1>
      <form action="/profile" method="POST" enctype="multipart/form-data" class="ui form">
        <div class="field">
          <label>Image</label>
          <input type="file" name="avatar"></input>
        </div>
        <div>
          <button style="float: left; width: 48%;" class="ui button" type="submit">Submit</button>
        </div>
      </form>
      <a style="float: right; width: 48%;" href="/deleteavatar"><button style="width: 100%" class="ui red button">Delete Avatar</button></a>
    </div>
    <!--End Form-->
    </div>
  </div>
</div>

<% include ./partials/footer %>