<% include ./partials/header %>

<h1>Sign up to leave encouraging comments for the family</h1>

<form action="/register" method="POST">
  <input type="text" placeholder="Name" name="username"></input>
  <input type="password" placeholder="Password" name="password"></input>
  <button>Sign up</button>
</form>

<% include ./partials/footer %>