<% include ./partials/header %>

<div class="ui container">
  <div class="ui three column grid">
    <!--Vertical Menu Bar-->
    <div class="left floated four wide column">
      <div class="ui secondary vertical pointing menu">
        <a href="#" class="active item">Home</a>
        <a href="/notes/new" class="item">Leave a Note</a>
        <a href="#" class="item">Pinned Notes</a>
        <a href="public" class="item">Public Notes</a>
      </div>
    </div>
  </div>
</div>
<script src="../lib/velocity.min.js"></script>
<script src="../lib/angular.min.js"></script>
<% include ./partials/footer %>