body {
  padding-top: 100px;
}
.pull-right{
  text-align: right;
}

.vertical.pointing.menu {
  width: 100%;
}

.jdprofiles {
  width: 200px;
  text-align: center;
}

#jdprofiles {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

#jdprofiles.ui.horizontal.list:not(.celled)>.item:first-child {
    padding: .5em .5em !important;
}

.jdprofiles .avatar {
  display: block !important;
  margin: 0 auto !important;
}

.jdprofiles .content {
  padding: 0 0 0 0 !important;
}
.sidemenu {
  position: fixed;
  left: 100px;
  top: 100px;
}

.scroll-box {
  max-height: 380px;
  overflow-y: scroll;
  padding-right: 10px;
}

.search-bar {
  width: 300px;
  float: right;
}

#public-header{
  width: 600px;
  margin-top: 0;
}